<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<h2>Reviews</h2>
<% @restaurant.reviews.each do |r| %>
<p><%= r.content %>
  <% end %>
</p>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
